body {
    font-family: Century Gothic, Verdana, sans-serif;
    margin: 10px;
}

table {
    width: 100%;
    border-spacing: 0;
}
h1 {
    font-size: 150%;
    color: #4f37ff;
    text-align: center;
    letter-spacing: 0.15em;
}

.inside-table {
    font-size: 115%;
}

caption {
    padding: 5px 30px 5px 10px;
    border-spacing: 0;
    font-size: 100%;
    margin: 0;
    color: #fff;
    background-color: #5d5d5d;
    border: 2px solid #F8F8F8;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 0.15em;
}

th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0;
    font-size: 80%;
    text-align: center;
    margin: 0;
}

th, td {
    background-color: #F8F8F8;
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
    border-right: 1px solid #F8F8F8;
}

button {
    background-color: #254343;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
}

.changes-button {
    background-color: #4d7676;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

fieldset {
    margin: 20px;
    width: 350px;
    border: 1px solid #4e4e4e;
    border-radius: 15px;
    padding: 20px 30px;
    text-align: left;
}

legend {
    background: #efefef;
    border: 1px solid #254343;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
}

input {
    width:70%;
    float: right;
}
