<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Addresses Table</title>
    <link rel="stylesheet" type="text/css" href="styles2.css">
</head>
<body>
<h1>
    Construction CRM software 2.0
</h1>
<nav>
    <ul>
        <li><a href="homepage">homepage</a></li>
        <li><a href="addresses-table">addresses</a></li>
        <li><a href="customers-table">customers</a></li>
        <li><a href="employees-table">employees</a></li>
        <li><a href="materials-table">materials</a></li>
        <li><a href="projects-table">projects</a></li>
        <li><a href="sales-document-table">sales documents</a></li>
        <li><a href="valuations-table">valuations</a></li>
    </ul>
</nav>
<table>
    <caption>Addresses</caption>
    <tr>
        <td> 'id:'</td>
        <td> 'house number:'</td>
        <td> 'street:'</td>
        <td> 'city:'</td>
        <td> 'created:'</td>
        <td> 'updated:'</td>
        <td> 'project id:'</td>


    </tr>

    <tr th:each="addressDto: ${addressDtos}">
        <td th:text="${addressDto.id}"/>
        <td th:text="${addressDto.houseNumber}"/>
        <td th:text="${addressDto.street}"/>
        <td th:text="${addressDto.city}"/>
        <td th:text="${addressDto.createdAt}"/>
        <td th:text="${addressDto.updatedAt}"/>
        <td th:text="${addressDto.projectId}"/>

    </tr>


</table>
</body>
</html>