<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Addresses Table</title>
</head>
<body>
<table style="border: 2px solid black; background-color: #24e200; margin: auto">
    <caption>Addresses</caption>
    <tr>
        <td> 'id:'</td>
        <td> 'house number:'</td>
        <td> 'street:'</td>
        <td> 'city:'</td>
        <td> 'created:'</td>
        <td> 'updated:'</td>
        <td> 'project id:'</td>


    </tr>

    <tr th:each="addressDto: ${addressDtos}">
        <td th:text="${addressDto.id}"/>
        <td th:text="${addressDto.houseNumber}"/>
        <td th:text="${addressDto.street}"/>
        <td th:text="${addressDto.city}"/>
        <td th:text="${addressDto.createdAt}"/>
        <td th:text="${addressDto.updatedAt}"/>
        <td th:text="${addressDto.projectId}"/>

    </tr>


</table>
</body>
</html>