<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers Table</title>
    <link rel="stylesheet" type="text/css" href="styles2.css">

</head>
<body>
<h1>
    Construction CRM software 2.0
</h1>
<nav>
    <ul>
        <li><a href="homepage">homepage</a></li>
        <li><a href="addresses-table">addresses</a></li>
        <li><a href="customers-table">customers</a></li>
        <li><a href="employees-table">employees</a></li>
        <li><a href="materials-table">materials</a></li>
        <li><a href="projects-table">projects</a></li>
        <li><a href="sales-document-table">sales documents</a></li>
        <li><a href="valuations-table">valuations</a></li>
    </ul>
</nav>
<table>
    <caption>Customers</caption>
    <tr>
        <td> 'id:'</td>
        <td> 'name:'</td>
        <td> 'surname:'</td>
        <td> 'email:'</td>
        <td> 'phone:'</td>
        <td> 'created:'</td>
        <td> 'updated:'</td>
        <td> 'valuations Ids:'</td>


    </tr>

    <tr th:each="customerDto: ${customerDtos}">
        <td th:text="${customerDto.id}"/>
        <td th:text="${customerDto.name}"/>
        <td th:text="${customerDto.surname}"/>
        <td th:text="${customerDto.email}"/>
        <td th:text="${customerDto.phone}"/>
        <td th:text="${customerDto.createdAt}"/>
        <td th:text="${customerDto.updatedAt}"/>
        <td th:text="${customerDto.valuationsIds}"/>

    </tr>


</table>
</body>
</html>