<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees Table</title>
    <link rel="stylesheet" type="text/css" href="styles2.css">

</head>
<body>
<h1>
    Construction CRM software 2.0
</h1>
<nav>
    <ul>
        <li><a href="homepage">homepage</a></li>
        <li><a href="addresses-table">addresses</a></li>
        <li><a href="customers-table">customers</a></li>
        <li><a href="employees-table">employees</a></li>
        <li><a href="materials-table">materials</a></li>
        <li><a href="projects-table">projects</a></li>
        <li><a href="sales-document-table">sales documents</a></li>
        <li><a href="valuations-table">valuations</a></li>
    </ul>
</nav>
<table>
    <caption>Employees</caption>
    <tr>
        <td> 'id:'</td>
        <td> 'name:'</td>
        <td> 'surname:'</td>
        <td> 'role:'</td>
        <td> 'phone:'</td>
        <td> 'created:'</td>
        <td> 'updated:'</td>
        <td> 'projects Ids:'</td>


    </tr>

    <tr th:each="employeeDto: ${employeeDtos}">
        <td th:text="${employeeDto.id}"/>
        <td th:text="${employeeDto.name}"/>
        <td th:text="${employeeDto.surname}"/>
        <td th:text="${employeeDto.role}"/>
        <td th:text="${employeeDto.phone}"/>
        <td th:text="${employeeDto.createdAt}"/>
        <td th:text="${employeeDto.updatedAt}"/>
        <td th:text="${employeeDto.projectsListForEmployeeIds}"/>

    </tr>


</table>
</body>
</html>