<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="styles2.css">
</head>
<body>
<h1>
    Construction CRM software 2.0
</h1>
<nav>
    <ul>
        <li><a href="homepage">homepage</a></li>
        <li><a href="addresses-table">addresses</a></li>
        <li><a href="customers-table">customers</a></li>
        <li><a href="employees-table">employees</a></li>
        <li><a href="materials-table">materials</a></li>
        <li><a href="projects-table">projects</a></li>
        <li><a href="sales-document-table">sales documents</a></li>
        <li><a href="valuations-table">valuations</a></li>
    </ul>
</nav>
</body>
</html>