<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="styles2.css">
<head>
    <meta charset="UTF-8">
    <title>Sales Documents Table</title>
</head>
<body>
<h1>
    Construction CRM software 2.0
</h1>
<nav>
    <ul>
        <li><a href="homepage">homepage</a></li>
        <li><a href="addresses-table">addresses</a></li>
        <li><a href="customers-table">customers</a></li>
        <li><a href="employees-table">employees</a></li>
        <li><a href="materials-table">materials</a></li>
        <li><a href="projects-table">projects</a></li>
        <li><a href="sales-document-table">sales documents</a></li>
        <li><a href="valuations-table">valuations</a></li>
    </ul>
</nav>
<table>
    <caption>Sales Documents</caption>
    <tr>
        <td> 'id:'</td>
        <td> 'type:'</td>
        <td> 'status:'</td>
           <td> 'created:'</td>
        <td> 'updated:'</td>
    </tr>

    <tr th:each="salesDocumentDto: ${salesDocumentDtos}">
        <td th:text="${salesDocumentDto.id}"/>
        <td th:text="${projectDto.type}"/>
        <td th:text="${projectDto.status}"/>
        <td th:text="${projectDto.createdAt}"/>
        <td th:text="${projectDto.updatedAt}"/>

    </tr>
</table>
</body>
</html>