<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Valuations Table</title>
    <link rel="stylesheet" type="text/css" href="styles2.css">
</head>
<body>
<h1>
    Construction CRM software 2.0
</h1>
<nav>
    <ul>
        <li><a href="homepage">homepage</a></li>
        <li><a href="addresses-table">addresses</a></li>
        <li><a href="customers-table">customers</a></li>
        <li><a href="employees-table">employees</a></li>
        <li><a href="materials-table">materials</a></li>
        <li><a href="projects-table">projects</a></li>
        <li><a href="sales-document-table">sales documents</a></li>
        <li><a href="valuations-table">valuations</a></li>
    </ul>
</nav>
<table>

    <caption>Valuations</caption>
    <tr>
        <td> 'id:'</td>
        <td> 'status:'</td>
        <td> 'customer id:'</td>
        <td> 'project id:'</td>
        <td> 'created:'</td>
        <td> 'updated:'</td>


    </tr>

    <tr th:each="valuationDto: ${valuationsDtos}">
        <td th:text="${valuationDto.id}"/>
        <td th:text="${valuationDto.status}"/>
        <td th:text="${valuationDto.customerId}"/>
        <td th:text="${valuationDto.projectId}"/>
        <td th:text="${valuationDto.createdAt}"/>
        <td th:text="${valuationDto.updatedAt}"/>

    </tr>


</table>
</body>
</html>